body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: var(--general-color-text);
  background-color: #000;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  /* width: 100%; */

  display: flex;
  flex-direction: column;
}

/* main-content */

.main-content__inner {
  display: flex;
  align-items: center;

  gap: 73px;
}

.maon__sub-logo {
  padding-bottom: 30px;
}

.main-content {
  padding: 120px 0 192px;
  overflow: hidden;
}

.main-content__left {
  max-width: 870px;
}

.main__title {
  font-family: "IBM Plex Sans";
  font-size: 135px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  background: linear-gradient(90deg, #ff9900 0%, #ff6a59 51.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__grid-content {
  display: grid;
  grid-template-columns: 365px 375px; /* фиксированная ширина колонок */
  column-gap: 20px; /* расстояние между ними */
  grid-template-rows: repeat(3, auto); /* или как тебе нужно */
  margin-bottom: 56px;
}

.main__grid-item {
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 200% */
}

.main-content__btn-link {
  max-width: 700px;

  display: flex;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 7px;
  background: linear-gradient(90deg, #fed647 0%, #f7a601 100%);

  color: #000;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 81.25% */
}

.main-content__right::before {
  content: "";
  position: absolute;
  width: 1417px;
  height: 1417px;
  flex-shrink: 0;

  border-radius: 1417px;
  opacity: 0.7;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #f7ac09 0%, #000 100%);

  bottom: 40%;
  right: -66%;
}

.main-content__right {
  position: relative;
}

.main-content__right-img {
  max-width: 760px;
  width: 100%;
}

.main-content__right::after {
  content: "";
  position: absolute;
  width: 1417px;
  height: 1417px;
  flex-shrink: 0;

  border-radius: 1417px;
  opacity: 0.6;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #f7ac09 0%, #000 100%);

  top: 86%;
  right: -55%;
}

/* mobile */

@media (max-width: 500px) {
  .main__sub-logo {
    max-width: 70px;
    margin-bottom: 26px;
  }

  .main__title {
    font-size: 60px;
  }

  .main-content__inner {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 25px;
  }

  .main-content__btn-link {
    display: flex;
    max-width: 350px;
    padding: 14px 100.678px 22px 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 7px;
    background: linear-gradient(90deg, #fed647 0%, #f7a601 100%);
  }

  .main-content {
    padding: 0px 0 75px;
    overflow: hidden;
  }

  .main-content__right-img {
    width: 100%;
  }

  .main-content__right {
    order: 1;
  }

  .main-content__left {
    order: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .non-mob {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .main__grid-content {
    display: grid;
    grid-template-columns: repeat(3, 0.7fr);
    text-align: center;
  }

  .main__grid-item {
    font-size: 18px;
    text-align: center;
    position: relative;
  }

  /* Вертикальная линия между элементами */
  .main__grid-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 100%;
    background-color: #d6850d;
  }

  /* Скрытие "Cashback" */
  .cashback-text {
    display: inline-block;
  }

  .cashback-amount {
    display: inline-block;
  }

  /* На экранах меньше 500px скрываем "Cashback" */
  @media (max-width: 500px) {
    .cashback-text {
      display: none;
    }

    /* Ставим "100% Rebates on" и "Partners" на разных строках */
    .rebates-partners {
      display: block; /* Отдельная строка для "Partners" */
    }
  }

  .main__grid-item:first-child {
    max-width: 123px; /* или любое другое значение, при котором слова не помещаются */
    word-wrap: break-word;
    white-space: normal;
  }
}
