:root {
  --general-color-text: #312c27;
  --general-bg: #fff9f4;
  --accent-text: #1f1711;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --info-color: #b197b2;
  --hover-color: #ff9138;
  --transition: all .4s;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: var(--general-color-text);
  background-color: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  font-size: 16px;
  color: var(--general-color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  line-height: 1.6;
  background: var(--accent-color);
  border-radius: 60px;

  min-height: 62px;

  transition: var(--transition);

  width: 100%;
}

.button:hover {
  background: var(--hover-color)
}

.modal {
  position: fixed;
  background: #00000043;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

}

.modal__window {
  position: relative;
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  max-width: 428px;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: #ac907a;
}

.modal__img {
  margin: -65px 0 15px 13px;
}

.modal__title {
  margin-bottom: 10px;
  font-family: 'Gabriola';
  font-size: 42px;
  line-height: .9;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form {}

.modal__form-input {
  width: 100%;
  display: block;
  background: #00000000;
  border: 1px solid #ac907a;
  border-radius: 100px;
  padding: 19px 42px 19px 28px;
  font-size: 16px;
  margin-bottom: 10px;

  transition: var(--transition);
}

.modal__form-input:hover {
  border-color: var(--accent-color);
}

.modal__form-input::placeholder {
  color: #ac907a;
  transition: var(--transition);
}

.modal__form-input:hover::placeholder {
  color: var(--accent-color);
}

/* ====================================================== */

.header {
  background: url('../img/deco/bg-hero.png') 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero__info {
  color: var(--info-color);
  line-height: 1.6;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span:after {
  content: '';
  background: var(--info-color);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin: 0px 10px;
}

.hero__info span:last-child:after {
  content: none;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav {}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  display: block;
  padding: 7px 0px 7px;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--accent-color);
  opacity: 0;

  transition: var(--transition);
}

.nav__link:hover::before {
  opacity: 1;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  background: var(--general-color-text);
  width: 30px;
  height: 3px;
  border-radius: 100px;

  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.header__hero {
  padding: 50px 0px 140px;
}

/* =============================================================== */

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__title {
  font-family: "Gabriola", sans-serif;
  color: var(--accent-text);
  line-height: 0.82;
  font-size: 74px;
  margin-bottom: 30px;
}

.hero__text {
  color: var(--general-color-text);
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__content {
  max-width: 520px;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  margin-right: 247px;
  position: relative;
}

.hero__img>img {
  width: 100%;
}

.hero__img-controls {
  text-align: left;
  display: flex;
  position: absolute;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px);
}

.hero__img-controls--mobile {
  display: none;
}

.hero__img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 78px;
  width: 78px;
  background: var(--accent-bg);
  border-radius: 100%;
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.hero__img-button::before {
  content: '';
  position: absolute;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  transition: box-shadow .4s;
}

.hero__img-button:hover::before {
  box-shadow: inset 0 0 0 1px var(--accent-color);
}

.hero__img-button img {
  padding-left: 8.8%;
}

/* =========================ABOUT========================== */

.main__body {
  padding: 140px 0px;
}

.about__heading {
  margin-bottom: 30px;
}

.about__inner {
  display: grid;
  gap: 53px;
  grid-template-columns: 1fr 1.05fr;
}

.about__img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.about__img-controls {
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  bottom: 4.7%;
  left: 5%;
  padding: 15px 20px;
  color: var(--general-bg);
}

.about__img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 78px;
  width: 78px;
  background: var(--general-bg);
  border-radius: 100%;
}

.about__img-button::before {
  content: '';
  position: absolute;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  transition: box-shadow .4s;
}


.about__img-button:hover::before {
  box-shadow: inset 0 0 0 1px #ceaad0;
}

.about__title {
  font-family: "Gabriola", sans-serif;
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
}

.about__text {
  margin-bottom: 40px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__grid-item {
  align-items: center;
  display: flex;
  gap: 15px;
  padding: 29px 24.5px;
  border-radius: 20px;
  background: var(--accent-bg);
}

.about__grid-img {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1.5px solid var(--general-color-text);
}

.about__grid-img>img {
  height: 24px;
  width: 24px;
}



/* ============================FOOTER====================================== */


.footer {
  color: var(--accent-bg);
  background: #AB8261;
  padding: 60px 0 66px;
}

.footer__inner {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: .9fr .9fr 1fr auto;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0px;
}

.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--accent-color);
  opacity: 0;

  transition: var(--transition);
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0px;
}

.footer__contact-link {
  transition: all .4s;
}

.footer__contact-link:hover {
  color: var(--accent-color);
}

.footer__col-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copy {
  margin: 47px 0 0 9px;
  color: #DEC5B1;
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link,
path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

/* ==========MEDIA=====MEDIA==================MEDIA=====MEDIA============ */
/* ===============================MEDIA================================== */
/* ===MEDIA=====================================================MEDIA==== */

@media (max-width: 1200px) {
  .hero__img {
    margin: 0;
    max-width: 377px;
  }

  .hero__img-controls {
    position: static;
    max-width: none;
    margin-top: 30px;
  }

  /* -------------------- */

  .footer__inner {
    grid-template: repeat(2, auto) / repeat(3, auto);
    justify-content: space-between;
  }

  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }

}

@media (max-width: 900px) {

  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 27vh 15px 30px;
    font-size: 24px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;

    transition: all .4s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }


  /* --------------------------------- */

  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }
}


@media (max-width: 800px) {
  .hero__img {
    display: none;
  }

  .hero__img-controls--mobile {
    display: flex;
    margin: 0 0 30px;
  }

  .hero__content {
    max-width: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 600px) {

  .header__hero {
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 12vw;
  }
}